*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.navMain{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px rgb(210, 209, 209);
    margin-bottom: 2px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
button{
    background-color: red;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

 a:hover{
    color: orange;
}
.navRight{
    border-left: solid rgb(210, 209, 209) 1px;
    display: flex;
    align-items: center;
}
.itemsNavRight{
    margin:30px;
}
.itemsNavRight a{
    text-decoration: none;
    color: black;
    transition: all 0.6s;
    font-size: 15px;
}
.itemsNavRight a:hover{
    color: orange;
}

.itemsNavRight img{
    height:30px;
}
#buscador{
    border: transparent;
}
i{
    padding: 15px;
    height: 6px;
}
.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #f5f5f5;
}


.contenedor{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.itemsLeft,
.itemsRight{
    width: 500px;
}
.itemsss input{
    width: 400px;
    height: 100px;
}
input{
    width: 400px;
    height: 40px;
}
h5{
    margin: 10px;
}

.itemss, button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 123, 33);
    height:40px;
    width: 400px;
    border: transparent;
    color: white;
    font-size: 20px;
    transition: all 0.7s;
}
.itemss{
    margin-top: 10px;
}
.itemsLeft{
    width: 600px;
    color: gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h4, p{
    text-align: left;
}
h4{
    color: black;
}
.itemsRight{
    margin: 10px;
}
.itemsRight img{
    height: 150px;
}

footer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.footerSecundary{
    border-bottom: solid 1px white;
    background-color: #000000;
    width: 1100px;
    color:white;
    display: flex;
    margin-bottom: 30px;
}
.footerLeft{
    flex-direction: column;
}
.footer1{
    display: flex;
    margin: 50px;
}
h5{
    font-size: 12px;
    padding: 10px;
}
.footer2{
    margin-left: 70px;

}
.footerRight{
    margin: 50px;
    text-align: center;
    display: flex;
}
.footer3,
.footer4{
    width: 250px;
    height: 50px;
}
.AFIP img {
    padding-right: 50px;
    width: 40px;
    height: 50px;
}
h6{
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}
#derechos{
    height: 15px;
    font-size: 10px;
    border: solid 1px gray;
    background-color: transparent;
    color: gray;
}


@media screen and (max-width:412px) {
    .navMain{
        flex-direction: column;
    }
    @media screen and (max-width: 550px) {
        .logo{
            margin-right: 200px;
        }
        .cerrar-menu {
            display: block;
            font-size: 25px;
            margin-left: 200px;
            cursor: pointer;
        }
        .abrir-menu{
            display: block;
            font-size: 25px;
            cursor: pointer;
        }
    
        .abrir-menu {
            color: #1c1c1c;
        }
    
        .cerrar-menu {
            color: #000000;
        }
    
        .nav {
            padding-top: 50px ;
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background-color: #ececec;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
            width: 250px;
        }
    
        .nav.visible {
            opacity: 1;
            visibility: visible;
        }
        
        .nav-list {
            flex-direction: column;
        }
    
        .nav-list li a {
            margin: 1px;
            color: #000000ec;
        }
    .iconCerrar i{
        margin-left: 250px;
        color: rgb(61, 61, 61);
        font-size: 28px;
        margin-bottom: 29px;
        text-align: center;
    }
    .navRight{
        height: 50px;
    }
    .itemsNavRight a{
        margin: -15px;
        font-size: 13px;
    }
    #buscador{
        font-size: 10px;
        width: 110px;
    }
     .main img{
        width: 400px;
        height: 250px;
    }
    .articulos{

    }
    .scrollIcon i{
        cursor: pointer;
        font-size: 30px;
    }
    .section{
    }
    .contenedorGrid{
        width: 500px;
        padding: 20px;
        overflow: scroll;
        display: flex;
        justify-content: center;
    }
    footer{
        margin-top: 50px;
        height: 800px;
    }
    .footerSecundary{
        width: 412px;
        flex-direction: column;
        height: 620px;
    }
    .footerLeft{
        margin-top: 20px;
    }
    .footer2 {
        margin-right: 50px
    }


    .footerRight{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
    }
    }
    .AFIP{
        margin-left: 45px;
    }
    .footer3 {
        height:90px;

    }
    .footer4 {
        height: 200px;
        text-align: center;
        
    }
    .contacto{
        width: 412px;
    }
    .contenedor{
        flex-direction: column;
    }
    .itemsRight{
        text-align: left;
        margin-top: 20px;
        margin-right: 170px;
        text-align: center;
        width: 412px;
    }
    .itemsRight input{
        width: 340px;
    }
    button{
        margin: 10px;
        width: 340px;
    }
}






















































/*footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.footerSecundary{
    border-bottom: solid 1px white;
    background-color: #000000;
    width: 1100px;
    color:white;
    display: flex;
    margin-bottom: 30px;
}
.footerLeft{
    flex-direction: column;
}
.footer1{
    display: flex;
    margin: 50px;
}
h5{
    font-size: 12px;
    padding: 10px;
}
.footer2{
    margin-left: 70px;

}
.footerRight{
    margin: 50px;
    text-align: center;
    display: flex;
}
.footer3,
.footer4{
    width: 250px;
    height: 50px;
}
.AFIP img {
    padding-right: 50px;
    width: 40px;
    height: 50px;
}
h6{
    text-align: center;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}
#derechos{
    height: 15px;
    font-size: 10px;
    border: solid 1px gray;
    background-color: transparent;
    color: gray;
}